.flexi {
  @include from($md) {
    @include flex-dcia(rows, center, center);
    & > div {
      @include flex-item(0, 100px, 0, 1);
      color: white;
      text-align: center;
      flex: 0 100px;
    }
  }

  @include to($md) {
    @include flex-dcia(column);
    & > div {
      @include flex-item(0, 100% / 5, 0, 0);
      // align-self: center;
      justify-self: flex-end;
      color: black;
    }
  }
  height: 500px;
}

// .item-1 {
//   @include flex-item(0, 200px, 0, 1);
// }
// .item-2 {
//   @include flex-item(0, 200px, 0, 1);
// }
.item-3 {
  @include flex-item(0, auto, 0, 0);

}
