html {
  // font-size: 100% = 25.60
  font-size: 30%;
  font-family: $font;
  @include from(250px) {
    font-size: 62.5%;
  }
}

body {
  font-weight: 500;
  line-height: 1.5;
  color: var(--text-color);
  text-align: left;
  // line-break: auto;
  font-size: $paragraph;
}

// p,
// a,
// table,
// code,
// kbd,
// pre,
// samp,
// div {
//   font-size: $paragraph;
// }
strong {
  font-weight: 700;
}

li {
  list-style-type: none;
}
.li {
  list-style-type: circle;
}

a {
  text-decoration: none;
  color: inherit;
  // color: var(--link-color);
  outline: none;
  cursor: pointer;

  a:focus {
    outline: none;
  }
  // &:hover {
  //   color: rgb(29, 213, 219);
  // }
  // &:link {
  //   color: rgb(0, 38, 255);
  // }
  // &:visited {
  //   color: rgb(144, 47, 255);
  // }
}
// selection
// ::selection {
//   background: lighten($secondary, 30)
// }

// titles
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  // margin-bottom: 0.5rem;
  font-weight: 500;
  color: var(--title-color);
  // line-height: 1.2;
}
.h1,
h1 {
  font-size: $title; // 2.5rem
}
.h2,
h2 {
  font-size: $title - 0.5;
}
.h3,
h3 {
  font-size: $title - 0.75;
}
.h4,
h4 {
  font-size: $title - 1;
}
.h5,
h5 {
  font-size: $title - 1.25;
}
.h6,
h6 {
  font-size: $title - 1.5;
}

//-------------------headings----------------------------------//
.display {
  @for $i from 1 through 4 {
    &-#{$i} {
      @include from($sm) {
        font-size: 8rem - $i;
        font-weight: 300;
      }
    }
  }
}

//-------------------font weight----------------------------------//
.bold,
.t-bold {
  font-weight: bold;
}

//-------------------text color----------------------------------//
@each $key, $value in $colors {
  .t-#{$key} {
    color: var(--#{$key});
  }
}
@each $key, $value in $text-colors {
  .#{$key} {
    color: var(--#{$key});
  }
}
@each $key, $value in $notifiers {
  .t-#{$key} {
    color: var(--#{$key});
  }
}

// --------
// .t-white,
// .t-w {
//   color: var(--text-white);
// }
// .t-gray-light {
//   color: $gray-light;
// }
// .t-gray,
// .t-g {
//   color: $gray;
// }
// .t-gray-dark {
//   color: $gray-dark;
// }
// .t-black,
// .t-b {
//   color: $black;
// }

// -------
.t-left {
  text-align: left;
}
.t-center {
  text-align: center;
}
.t-right {
  text-align: right;
}

//-----------------------------------------------------//

// ol ol,
// ol ul,
// ul ol,
// ul ul {
//   margin-left: 2rem;
// }
.ol,
.ol,
.ul {
  padding-left: 2rem;
}
ol,
ol,
ul {
  padding: 0;
}

pre,
samp,
table {
  // font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
  //   "Courier New", monospace;
  font-size: $paragraph;
  overflow: auto;
  display: block;
}

// blockquote {
//   font-style: italic;
// }

blockquote,
pre {
  // border: 1px solid #adb5bd;
  page-break-inside: avoid;
}

//-------------------form----------------------------------//
::-webkit-input-placeholder {
  font-family: $font;
}
:-moz-placeholder {
  font-family: $font;
}
::-moz-placeholder {
  font-family: $font;
}
:-ms-input-placeholder {
  font-family: $font;
}

//-------------------code----------------------------------//

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

code,
pre {
  // background: #f5f7f9;
  // border-bottom: 1px solid #d8dee9;
  // color: #a7adba;
}
