//-------------------flex----------------------------------//
@mixin flex-dcia(
  $flex-direction: row,
  $justify-content: start,
  $align-items: start,
  $justify-items: start,
  $align-content: stretch,
  $flex-wrap: wrap
) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
  justify-items: $justify-items;
  align-content: $align-content;
  flex-wrap: $flex-wrap;
  @content;
}
@mixin flex-item(
  $order: initial,
  $flex-basis: content,
  // $flex: auto,
  $flex-grow: 0,
  $flex-shrink: 1
) {
  order: $order;
  flex-basis:  $flex-basis;
  // flex: $flex;
  flex-grow: $flex-grow;
  flex-shrink: $flex-shrink;
  @content;
}

//==========================flex==========================//
.flex {
  // width: 100%;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  &-row {
    @extend .flex;
    flex-direction: row;
    &-center-h {
      @extend .flex;
      justify-content: center;
    }
    &-top {
      @extend .flex;
      align-items: flex-start;
    }
    &-center-v {
      @extend .flex;
      align-content: center;
      // align-items: center;
    }
    &-bottom {
      @extend .flex;
      align-items: flex-end;
    }
    &-center {
      @extend .flex-row;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
  }
  &-column {
    @extend .flex;
    flex-direction: column;
    &-center-v {
      justify-content: center;
    }
    &-center-h {
      align-content: center;
    }
    &-left {
      align-content: flex-start;
    }
    &-right {
      align-content: flex-end;
    }
    &-center {
      @extend .flex-column;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
  }
  //----------------------------------------------//
  &.between {
    justify-content: space-between;
  }
  &.around {
    justify-content: space-around;
  }
  &.evenly {
    justify-content: space-evenly;
  }
  //----------------------------------------------//
  &.left {
    justify-content: flex-start;
  }
  &.centered {
    justify-content: center;
  }
  &.right {
    justify-content: flex-end;
  }
}

/* 

// container

display: 
flex-wrap: 
flex-direction: 
align-items: 
justify-content: 
justify-items: 
align-content: 


// children

order: default is 0
flex-grow: 0
flex-shrink: 1
flex-basis: auto, fill, max-content, min-content, fit-content, 20px, content
flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
align-self: auto | flex-start | flex-end | center | baseline | stretch;




*/
