/*=====================blocks=============================*/
.full {
  width: 100%;
  height: 100%;
  &-vw {
    width: 100vw;
    min-width: 100vw;
  }
  &-vh {
    height: 100vh;
    min-height: 100vh;
  }
  &-h {
    height: 100%;
    min-height: 100%;
  }
  &-w {
    width: 100%;
    min-width: 100%;
  }
}
// custome width and height --------------------

.width,
.w {
  @each $key in $number {
    &-#{$key} {
      width: 100%;
      max-width: #{$key}px;
    }
  }
  @each $key, $value in $numbers {
    &-#{$key} {
      width: 100%;
      max-width: #{$key}rem;
    }
  }
}

.height,
.h {
  @each $key in $number {
    &-#{$key} {
      height: #{$key}px;
      // max-height: #{$key}px;
    }
  }
  @each $key, $value in $numbers {
    &-#{$key} {
      height: #{$key}rem;
      // max-height: #{$key}rem;
    }
  }
}

//==========================content==========================//
@mixin centerMargin {
  &-m-a,
  &-m,
  &-a {
    @extend .content;
    // width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.content,
.container {
  // height: 100%;
  width: 100%;
  // max-width: 540px;
  @include from($sm) {
    max-width: 540px;
  }
  @include from($md) {
    max-width: 720px;
  }
  @include from($lg) {
    max-width: 960px;
  }
  @include from($xl) {
    max-width: 1024px;
  }

  // breackpoints
  @each $key, $value in $breackpoints {
    &-#{$key} {
      width: 100%;
    }

    @media screen and (min-width: $value) {
      &-#{$key} {
        max-width: $value;
      }
    }
  }
  @include centerMargin;
}

//==========================directions==========================//
.left-b {
  display: block;
  margin-right: auto;
  width: 70px;
}
.right-b {
  display: block;
  margin-left: auto;
  width: 70px;
}
.center-b {
  display: block;
  margin: auto;
  width: 70px;
}

//==========================aside==========================//

@mixin aside() {
  // position: static;
  // @include from($md) {
  width: $aside-width;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1000;
  // height: 100%;
  transform: translateX(-100%);
  // }
}

.aside {
  position: static;
  @include from($md) {
    @include aside;
  }
}

//==========================print==========================//
@media print {
  *,
  ::after,
  ::before {
    text-shadow: none;
    box-shadow: none;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  pre {
    white-space: pre-wrap;
  }
  blockquote,
  pre {
    border: 1px solid #adb5bd;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  img,
  tr {
    page-break-inside: avoid;
  }
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  @page {
    size: a3;
  }
  body {
    min-width: 992px;
  }
}

//-------------------image container----------------------------------//
.gallery,
.gall {
  @each $key, $value in $numbers {
    &-#{$key} {
      // text-align: center;
      & > img {
        height: #{$key}rem;
      }
    }
  }
}
