extend head/_link.pug
block contenidos
  h1(class="mbottom-2 t-center") Navbars
  //--------------------------------------
  div( class="full-w bg-dark-t")
    div( class="content m-a col  right m-a ")
      ul( class="flex-row-center   right " style=" height:  70px")
        li( class="btn relative") 
          i.fas.fa-user
        li( class="btn relative") 
          i.fas.fa-users
  div( class="full-w bg-grey-light")
    div( class="content m-x-a col col-fit-menu  place-center-stretch")
      h2( class="") Title
      ul( class="flex-row-center    gap-x  right ")
        li( class="btn") home
        li( class="btn")  content
        li( class="btn")  something