//-------------------backgrounds----------------------------------//

.bg {
  @each $key, $value in $notifiers {
    &-#{$key} {
      background: var(--#{$key});
      &-t {
        // background: $value;
        background: var(--#{$key});
        color: var(--text-white);
      }
    }
  }

  @each $key, $value in $colors {
    &-#{$key} {
      background: var(--#{$key});
      &-t {
        // background: $value;
        background: var(--#{$key});
        color: var(--text-white);
      }
    }
  }
}
