//-------------------crop image----------------------------------//
.crop {
  position: relative;
  overflow: hidden;
}

//-------------------position absolute: dropdown-----------------------------//
// put it in the father
.relative {
  position: relative;
}

@mixin absolute($where: topLeftRightBottom) {
  position: absolute;
  width: fit-content;

  @if $where == top {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  @if $where == bottom {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  @if $where == left {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
  @if $where == right {
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
  }
  @if $where == center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.absolute {
  // position: absolute;
  @include absolute();

  &-center {
    @include absolute(center);
  }
  &-right {
    @include absolute(right);
  }
  &-left {
    @include absolute(left);
  }
  // top and center
  &-top {
    @include absolute(top);
  }
  // bottom and center
  &-bottom {
    @include absolute(bottom);
  }
}

// //-------------------breakpoints----------------------------------//
// .bp-movile {
//   @include to($md) {
//     display: block;
//     width: 100%;
//     position: static;
//     transform: translate(0, 0);
//   }
// }

//-------------------hide----------------------------------//
.hide {
  &-movile,
  &-m {
    @include from($sm) {
      display: none;
    }
  }
  &-tablet,
  &-t {
    @include from($md) {
      display: none;
    }
  }
  &-desktop,
  &-d {
    @include from($lg) {
      display: none;
    }
  }
  &-down {
    &-desktop,
    &-d {
      @include to($lg) {
        display: none;
      }
    }
    &-tablet,
    &-t {
      @include to($md) {
        display: none;
      }
    }
    &-movile,
    &-m {
      @include to($sm) {
        display: none;
      }
    }
  }
}
.hide {
  display: none;
}

//-----------------------sticky-----------------------//
@mixin sticky($where) {
  position: -webkit-sticky;
  position: sticky;
  @if $where == top {
    top: 0;
  }
  @if $where == bottom {
    top: 100%;
    transform: translate(0, -100%);
  }
}

.sticky {
  @include sticky(top);

  &-bottom,
  &-b {
    @include sticky(bottom);
  }
}

//-------------------blur----------------------------------//
@mixin blur($size) {
  filter: blur($size);
  -webkit-filter: blur($size);
}
@mixin blur-bg($size) {
  backdrop-filter: ($size);
  -webkit-backdrop-filter: ($size);
}
.blur {
  @include blur(2px);
  &-bg {
    @include blur-bg(2px);
  }
}

//-------------------display----------------------------------//
.d-block {
  display: block;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.overflow-x {
  overflow-x: auto;
}

//-------------------border line----------------------------------//
.border {
  border: 1px solid $gray-dark;
  &-2 {
    border: 2px solid $gray-dark;
  }
  &-3 {
    border: 3px solid $gray-dark;
  }
}

//-------------------img width and height-------------------//
.img {
  @each $num in $number {
    &-w#{$num} {
      width: #{$num}px;

      &-center,
      &-c {
        width: #{$num}px;
        display: block;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  @each $num in $number {
    &-h#{$num} {
      height: #{$num}px;
      &-right,
      &-r {
        height: #{$num}px;
        display: block;

        margin-right: auto;
      }
      &-center,
      &-c {
        height: #{$num}px;
        display: block;

        margin-right: auto;
        margin-left: auto;
      }
      &-left,
      &-l {
        height: #{$num}px;
        display: block;

        margin-left: auto;
      }
    }
  }
}

// image tag as background----------
@mixin container-img() {
  overflow: hidden;
  position: relative;
  z-index: var(--z-normal);
  & > img:first-child {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    // right: 0;
    // bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.container-img {
  @include container-img;
}
