// === === === === === === COLORS === === === === === ===
// colors
$primary: red;
$secondary: blue;
$terciary: yellow;
$quaternary: green;

// white to black
$white: #f8f9fa;
$gray-light: #c7c7c7;
$gray: #8a8a8a;
$gray-dark: #303030;
$black: #191c1f;
//-----------------------------------------------------//
$colors: (
  primary: $primary,
  secondary: $secondary,
  terciary: $terciary,
  quaternary: $quaternary,
);

$text-colors: (
  text-white: $white,
  text-color: $gray-dark,
  title-color: $black,
  link-color: #006ab1,
);

$notifiers: (
  primary: #007bff,
  secondary: #6c757d,
  success: #28a745,
  info: #17a2b8,
  warning: #ffc107,
  danger: #dc3545,
  light: $white,
  gray-light: $gray-light,
  gray: $gray,
  gray-dark: $gray-dark,
  dark: $black,
  black: $black,
);

//-------------------------------------------//

// global variables, from bootstrap
:root {
  // text colors
  @each $key, $value in $text-colors {
    --#{$key}: #{$value};
  }
  // normal
  @each $key, $value in $colors {
    --#{$key}: #{$value};
  }
  // darken
  @each $key, $value in $colors {
    // $algo: darken($value, $darken);
    --#{$key}-dark: darken($value, $darken);
  }
  // lighten
  @each $key, $value in $colors {
    // $algo: lighten($value, $lighten);
    --#{$key}-light: lighten($value, $lighten);
  }
  // notifiers
  @each $key, $value in $notifiers {
    --#{$key}: #{$value};
  }
}
// bootstrap example
// :root {
//   --blue: #007bff;
//   --indigo: #6610f2;
//   --purple: #6f42c1;
//   --pink: #e83e8c;
//   --red: #dc3545;
//   --orange: #fd7e14;
//   --yellow: #ffc107;
//   --green: #28a745;
//   --teal: #20c997;
//   --cyan: #17a2b8;
//   --white: #fff;
//   --gray: #6c757d;
//   --gray-dark: #343a40;
//   --primary: #007bff;
//   --secondary: #6c757d;
//   --success: #28a745;
//   --info: #17a2b8;
//   --warning: #ffc107;
//   --danger: #dc3545;
//   --light: #f8f9fa;
//   --dark: #343a40;
// }

//-------------------dark mode----------------------------------//
//  some colors don´t change
$colors-darkmode: (
  primary: $primary,
  secondary: $secondary,
  terciary: $terciary,
  quaternary: $quaternary,
);
$text-colors-darkmode: (
  text-white: $gray-light,
  text-color: $gray-light,
  title-color: $gray-light,
  link-color: #17a2b8,
);
$notifiers-darkmode: (
  primary: #007bff,
  secondary: #6c757d,
  success: #28a745,
  info: #17a2b8,
  warning: #ffc107,
  danger: #dc3545,
  // dark: $white,
  gray-dark: $gray,
  gray: $gray-dark,
  gray-light: $gray-dark,
  light: $black,
);
// --------------
body.dark-theme {
  // text
  @each $key, $value in $text-colors-darkmode {
    --#{$key}: #{$value};
  }
  // normal
  @each $key, $value in $colors-darkmode {
    --#{$key}: #{$value};
  }
  // notifiers
  @each $key, $value in $notifiers-darkmode {
    --#{$key}: #{$value};
  }
  background-color: $black;

  & img {
    opacity: 0.75;
    transition: opacity 0.5s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
}
// ----------------------------
// @media (prefers-color-scheme: dark) {
//   img {
//     opacity: 0.75;
//     transition: opacity 0.5s ease-in-out;
//   }
//   img:hover {
//     opacity: 1;
//   }
// }

//====================================================//
// sizes
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$breackpoints: (
  mv: $sm,
  tb: $md,
  dk: $lg,
  bg: $xl,
);

// directions
$directions: (
  left: l,
  right: r,
  top: t,
  bottom: b,
);

// wieght
$italic: 300;
$normal: 500;
$bold: 700;

// sizes
$sizes: (100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200);

// font
// https://fonts.google.com/
@import url("https://fonts.googleapis.com/css?family=Lato:300,500,700&display=swap");
$font: "Lato", sans-serif;

$title: 3.5rem;
$subtitle: 3rem;
$paragraph: 1.7rem;

// margins and paddings
$margin: 16px;
$padding: 16px;

// custom widths
$aside-width: 200px; // aside
$side-menu: 200px; // aside
$width-1: 100px;
$footer: 3rem;

// border radius
$border-radius: 4px;

// inputs
$input-line: $gray-light;
$input-line-focus: $gray;

// direction
$x: (left, right);
$y: (top, bottom);

$directions: (left, right, top, bottom);

// multipliers
$multipliers: (
  2: 2,
  3: 3,
);
// number of columns (grid)
$numbers: (
  1: uno,
  2: two,
  3: three,
  4: four,
  5: five,
  6: six,
  7: seven,
  8: eight,
  9: nine,
  10: ten,
  11: eleven,
  12: twelve,
);

$number: 50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700,
  750, 800, 850, 900, 950, 1000, 1050, 1100, 1150, 1200;

//==========================grid & flex==========================//
$align-items: (start, end, center, stretch);
$justify-items: (start, end, center, stretch);
$justify-content: (
  start,
  end,
  center,
  stretch,
  space-around,
  space-between,
  space-evenly
);
// flex justify-content ,align-items ,flex-direction ,order
// ,align-self ,flex-wrap ,flex-flow ,align-content
$flex-direction: (row, row-reverse, column, column-reverse);
$order: (-1, 0, default, 1);
$align-self: (
  auto,
  flex-start,
  flex-start,
  flex-end,
  center,
  baseline,
  stretch
);
$flex-wrap: (nowrap, wrap, wrap-reverse);
$flex-flow: ();
// flex-flow: flex-direction, flex-wrap

// darken and lighten values
$darken: 10%;
$lighten: 10%;

/*===== z index =====*/
$z-back_-10: -10;
$z-normal_1: 1;
$z-tooltip_10: 10;
$z-fixed_100: 100;
$z-modal_1000: 1000;

:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
